This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, '\t')

### Step 4. See the first 10 entries

In [16]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1
print chipo.shape[0]

4622

In [10]:
# Solution 2
print chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB
None

### Step 6. What is the number of columns in the dataset?

In [13]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [48]:
chipo.iloc[1]

order_id                         1
quantity                         1
item_name                     Izze
choice_description    [Clementine]
item_price                    3.39
Name: 1, dtype: object

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [26]:
or_chipo = chipo.groupby('item_name').sum()
or_chipo = or_chipo.sort_values('quantity', ascending=False)
or_chipo.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [27]:
or_chipo = chipo.groupby('item_name').sum()
or_chipo = or_chipo.sort_values('quantity', ascending=False)
or_chipo.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [28]:
or_chipo = chipo.groupby('choice_description').sum()
or_chipo = or_chipo.sort_values('quantity', ascending=False)
or_chipo.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [29]:
chipo['quantity'].sum()

4972L

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [32]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [38]:
f = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(f)

#### Step 13.c. Check the item price type

In [39]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [40]:
(chipo.item_price * chipo.quantity).sum()

39237.020000000055

### Step 15. How many orders were made in the period?

In [42]:
chipo.order_id.nunique()

1834

### Step 16. What is the average amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [45]:
chipo['item_name'].value_counts().count()

50